 body {
   background-color: linear-gradient(skyblue, green, yellow);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: COVER;
 }


footer {
  text-align: center;
  color: #178ccf;
  position:absolute
  margin: bottom 0;
}



 /* >>>>>>>>>>>>>>>>>>>Navbar css<<<<<<<<<<<<<<<<<<<<<<<<< */
 nav {
   text-align: center;
   background-color:rgb(230, 238, 243);
 }

 .dropbtn {
   margin-top: 1.5cm;
   margin-left: 0.5cm;
   background-color: #178ccf;
   color: white;
   padding: 10px;
   font-size: 16px;
   border-radius: 27px;
   cursor: pointer;
   width: 100%
 }

 .dropdown {
   margin-right: 2cm;
   position: relative;
   display: inline-block;

 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #ede9fc;
   min-width: 160px;
   border-radius: 27px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   flex-direction: column;
   z-index: 1;
 }

 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown-content a:hover {
   background-color: #178ccf;
 }

 .dropdown:hover .dropdown-content {
   display: block;
 }

 .dropdown:hover .dropbtn {
   background-color: #178ccf;
 }
 


 @media screen and (max-width: 700px) {
 nav {
   display: none;
 }

 }



 .dropdown {
   margin: 0.2cm;
 }
 .carousel-item{
  font-size: xx-large;
 }

 /* >>>>>>>>>>>>>>>>>>>Navbar css<<<<<<<<<<<<<<<<<<<<<<<<< */






 /* >>>>>>>>>>>>>>>>>>>Loginpage css<<<<<<<<<<<<<<<<<<<<<<<<< */

 input[type=text],
 input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
 }

 button {
   background-color: #178ccf;
   color: rgb(247, 242, 240);
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
 }

 button:hover {
   opacity: 0.8;
 }

 .cancelbtn {
   width: auto;
   padding: 10px 18px;
   background-color: #f44336;
 }


 .imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
   position: relative;
 }

 img.avatar {
   width: 40%;
   border-radius: 50%;
 }

 .container {
   padding: 16px;
 }

 span.psw {
   float: right;
   padding-top: 16px;
 }


 .modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.4);
   padding-top: 60px;
 }

 .modal-content {
   background-color: #fefefe;
   margin: 5% auto 15% auto;
   border: 1px solid #888;
   width: 80%;
 }


 .close {
   position: absolute;
   right: 25px;
   top: 0;
   color: #000;
   font-size: 35px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: red;
   cursor: pointer;
 }


 .animate {
   -webkit-animation: animatezoom 0.6s;
   animation: animatezoom 0.6s
 }

 @-webkit-keyframes animatezoom {
   from {
     -webkit-transform: scale(0)
   }

   to {
     -webkit-transform: scale(1)
   }
 }

 @keyframes animatezoom {
   from {
     transform: scale(0)
   }

   to {
     transform: scale(1)
   }
 }


 @media screen and (max-width: 700px) {
   span.psw {
     display: block;
     float: none;
   }

   .cancelbtn {
     width: 100%;
   }
 }

 /* >>>>>>>>>>>>>>>>>>>Loginpage css<<<<<<<<<<<<<<<<<<<<<<<<< */


/* >>>>>>>>>>>>>>>>>>>SIDE BAR <<<<<<<<<<<<<<<<<<<<<<<<< */

.sidebar {
  margin: 0;
  padding: 0;
  width: 1px;
  background-color: #178ccf;
  position: fixed;
  height: 10%;
  overflow: auto;
  cursor: pointer;

}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color:   ;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: red;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.footer-clean {
  padding:50px 0;
  background-color:rgb(230, 238, 243);
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}
/* >>>>>>>>>>>>>>>>>>>footer<<<<<<<<<<<<<<<<<<<<<<<<< */
.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
/* >>>>>>>>>>>>>>>>>>>footer<<<<<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>services<<<<<<<<<<<<<<<<<<<<<<<<< */
.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h4{
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading{
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 40%;
}